<h1>Atualizar Atividade</h1><br>

<form action="/atualizar" method="post">
<label for="codigo">Código : </label>
<input type="text" name="codigo"><br><br>
<label for="nome">Nome : </label>
<input type="text" name="nome"><br><br>
<button type="submit">Atualizar Atividade</button>
</form