<h1>Cadastrar Atividades</h1>
<form action="/cadastrar" method="post">
<label for="codigo">Código : </label>
<input type="text" name="codigo"><br><br>
<label for="nome">Nome : </label>
<input type="text" name="nome"><br><br>
<button type="submit">Cadastrar Atividade</button>
</form>
